.wrapper {
    display: grid;

    grid-template-rows: 4fr 1fr;

    gap: 10px;
}

.mainItem {
    grid-row: 1;

    height: 100%;
}

.otherItems {
    grid-row: 2;

    display: flex;
    flex-wrap: nowrap;

    gap: 10px;
    justify-content: flex-start;

    overflow-x: auto;


}

.otherItem  {
    flex-basis: 20%;

    cursor: pointer;
}

