@import '../base';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    gap: 20px;

    border: 2px solid red;

}

.addButton {
    width: 100%;
    height: 50px;

    border: none;
}

