@use '../base' as *;
.banner {
    margin-bottom: 20px;
}

.footer {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    background-color: $attention-color;
    color:black;

    padding: 1rem;

    border-radius: $border-radius;


    &:hover {
        background-color: adjust-color($color: $attention-color, $lightness: -30%);
        color: white;
    }
}