@use '../base' as *;
.banner {
    margin-bottom: 20px;
}

.footer {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    background-color: $attention-color;
    color:black;

    padding: 1rem;

    border-radius: $border-radius;


    &:hover {
        background-color: adjust-color($color: $attention-color, $lightness: -30%);
        color: white;
    }
}

@media (min-width: $first-breakpoint) {
    .list {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: $second-breakpoint) {
    .banner {
        margin-bottom: 0px;
    }

    .body {
        border: 4px solid $secondary-background-color;
        border-top: none;

        padding: 20px;
        
        transform: translateY(-10px);

    }

    .list {
        width: 80%;
        margin: 0 auto;
    }
}