@use "../base" as *;

.wrapper {
  font-size: 0.7rem;
  background-color: #1d1d1d;

  margin-bottom: 0px;
}

.block {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;

  border-radius: 30%;
}

@media (min-width: $first-breakpoint) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 1rem;

    justify-items: stretch;
  }
}

@media (min-width: $second-breakpoint) {
  .wrapper {
    font-size: 0.9rem;
    border-radius: $border-radius;
  }
}
