@use '../base' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 20px;

}



.searchBar {
    width: 100%;

}

.navBar {
    background-color: adjust-color($color: $background-color, $lightness: -15%);
    padding: 10px;
    
    border-radius: $border-radius;
}


@media (min-width: $first-breakpoint) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr;
    
        row-gap: 20px;
    }
    
    .websiteTitle {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    
        justify-self: left;
        align-self: center;
    }
    
    .searchBar {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    
        justify-self: right;
        align-self: center;
    }
    
    .navBar {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    
        justify-self: center;
        align-self: center;
    }
}
