@use '../base' as *;

.heroImage {
    position: relative;

    height: 40vh;
    min-height: 200px;
    border-radius: $border-radius;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text {
    text-align: center;
    color: $secondary-background-color;

}

.link {
    background-color: $attention-color;
    color: black;

    padding: 0.3rem .7rem;

    border-radius: $border-radius;

    margin-top: 1rem;

    &:hover {
        background-color: adjust-color($color: $attention-color, $lightness: -30%);
        color: white;
    }
}

@media (min-width: $second-breakpoint) {
    
    .link {
        padding: 0.7rem 1.2rem;
        font-size: 1.5rem;
    }
}