@use '../base' as *;

.carousell {
    display: grid;

    grid-template-rows: 300px 80px;
    
}

.mainItem {
    height: 300px;

    .image {
        height: 100%;
        width: 100%;
    }
}

.ul {

    padding: 5px;

    .image {
        height: 100%;

        &:hover {
            box-shadow: 0 0 10px 0 rgb(59, 44, 44);

        }
    }
}

.image {
    

    border-radius: $border-radius;


}