@import "../base";

section.wrapper {
  margin: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  gap: 10px;

  margin-bottom: 20px;



}

.controls_select {
  padding: 10px;
  flex-basis: 100%;
}


div.sortAndOrder {
  padding: 10px;
  flex-basis: 100%;

}

div.sortAndOrder__field {
  border: none;
  flex-basis: 48%;

  grid-template-columns: 1fr 2fr;

  align-items: center;

  select {
    padding: 10px;

  }
}



.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  flex-basis: 100%;

  gap: 10px;

  button {
    flex-basis: 48%;
  }
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  gap: 10px;
}

.li {
  width: 100%;

  border-radius: $border-radius;

  border: 2px solid $separator-color;

  overflow: hidden;

  &:hover {
    background-color: darken($background-color, 10%);
    box-shadow: $box-shadow;
  }
}

.loadMore {
  display: flex;
  align-items: center;
  justify-content: center;


  margin-top: 25px;


}

@media (min-width: $first-breakpoint) {
  div.sortAndOrder__field {
    border: none;
  } 


  .ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .li {
    width: 100%;
    height: 100%;
  }

  .addButton {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media (min-width: $second-breakpoint) {
  .controls_select {
    flex-basis: 24%;
  }
 
  
  div.sortAndOrder {
    padding: 10px;
    flex-basis: 48%;
  
  }

  .buttons {
    flex-basis: 24%;
  }

  .ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  
}