@use '../base' as *;

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;


}

.smallScreen {
    display: block;
}

.largeScreen {
    display: none;
}

@media (min-width: $first-breakpoint) {
    .smallScreen {
        display: none;
    }

    .largeScreen {
        display: block;
    }
}