@use "../base" as *;

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid $separator-color;

  padding-bottom: 10px;
}

.editCart {
  padding: 5px 10px;
  border-radius: $border-radius;

  background-color: rgba($color: #000000, $alpha: 0.15);

  &:hover {
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}

.emptyCart {
  .emptyCartTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .link {
    color: $button-color;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 2px solid $button-color;
    }
  }
}

.payment {
  display: flex;
  flex-flow: column;
  align-items: center;

  gap: 25px;

  background-color: rgba($color: #000000, $alpha: 0.15);
  padding: 10px;
  border-radius: $border-radius;
}

.paymentTitle {
  border-bottom: 1px solid $separator-color;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

@media (min-width: $first-breakpoint) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }

  .header {
    flex-basis: 100%;
    align-items: flex-start;
  }

  .orderDetail,
  .payment {
    flex-basis: 48%;
  }

  .paymentTitle {
    text-align: left;
  }
}
