$background-color: #ffffff;
$secondary-background-color: #d8d1d1;
$heading-color: #333333;
$secondary-heading-color: #7f7f7f;
$text-color: #4d4d4d;
$attention-color: #ff7f50;
$danger-color: #691111;
$text-color-on-danger-color: #cccccc;
$button-color: #008cba;
$navigation-color: #1e1e1e;

$border-radius: 8px;

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 10px 0 rgba(0, 0, 0, 0.7);
$box-shadow-attention: 0 0 12px 0 rgb(255, 69, 1);
$separator-color: #bbbbbb;

$first-breakpoint: 768px;
$second-breakpoint: 1124px;
