$background-color: #FFFFFF;
$secondary-background-color: #d8d1d1;
$heading-color: #333333;
$secondary-heading-color: #7F7F7F;
$text-color: #4D4D4D;
$attention-color: #FF7F50;
$danger-color: #FF0000;
$button-color: #008CBA;
$navigation-color: #1E1E1E;

$border-radius: 8px;

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 10px 0 rgba(0, 0, 0, 0.4);

$separator-color: #bbbbbb;

$first-breakpoint: 768px;
$second-breakpoint: 1124px;
