$background-color: #ffbdbd;
$secondary-background-color: #b6b6b6;
$heading-color: #1E1E1E;
$secondary-heading-color: #4D4D4D;
$text-color: #707070;
$attention-color: #EA5B3F;
$button-color: #536DFE;
$navigation-color: #1E1E1E;

$border-radius: 8px;

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 10px 0 rgba(0, 0, 0, 0.4);

$separator-color: #db8d8d;

