@import "../base";

.wrapper {
  border: none;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4px;

  background-color: transparent;

  cursor: pointer;
}

.image {
  display: none;
}

.text {
  padding: 20px;
}

h3.name,
h3.price {
  display: none;
}

h4.name,
h4.price {
  display: block;
}

h3.price,
h4.price {
  &:before {
    content: "$";
  }
}

.productSelector {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.editProductButton {
  padding: 5px 8px;
}

.description {
  display: none;
}

.deleteButton {
  &:hover {
    box-shadow: 0 0 5px 0 $danger-color;
    color: white;
  }
}

@media (min-width: $first-breakpoint) {
  .wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 16px;
  }

  .text {
    padding: 10px;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
  }

  h3.name,
  h3.price {
    display: block;

    flex-basis: 100%;
  }

  h4.name,
  h4.price {
    display: none;

  }



  .productSelector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }


  .select {
    padding: 5px 10px;
    flex-basis: 100%;
  }

  .editProductButton {
    padding: auto;
    flex-basis: 100%;
  }

  .description {
    display: block;

    font-size: 0.7rem;
  }
}

@media (min-width: $second-breakpoint) {
  .wrapper {
    gap: 5px;
  }

  .image {
    display: block;
    width: 200px;
    height: 200px;

    border-radius: $border-radius;
  }
}
