@import '../base';

.wrapper {
    border: none;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4px;

    background-color: transparent;

    cursor: pointer;


}

.image {
    display: none;
}

.text {
    padding: 20px;

}

h3.name {
    display: none;
}

h4.name {
    display: block;
}

.description {
    display: none;
}

.deleteButton {
    
    &:hover {
        box-shadow: 0 0 5px 0 $danger-color;
        color: white;
    }
}

@media (min-width: $first-breakpoint) {
    .wrapper {
        height: 100%;

        display: flex;
        flex-direction: column;
        
        gap: 16px;
    }

    .text {
        padding: 10px;
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 10px;
    }   
    
    
    h3.name {
        display: block;
        
    }
    
    h4.name {
        display: none;
    }
    
    .description {
        display: block;

        font-size: 0.7rem;
    }
}

@media (min-width: $second-breakpoint) {
    .wrapper{
        gap: 5px;
    }

    .image {
        display: block;
        width: 200px;
        height: 200px;

        border-radius: $border-radius;
    }
}