@use '../base' as *;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    border: none;

    cursor: pointer;
}


.button.normal {
    background-color: $button-color;
    color: $background-color;
    font-weight: 600;

}

.button.attention {
    background-color: $attention-color;
    color: rgb(68, 43, 43);
    font-weight: 600;
}

.button.danger {
    background-color: $danger-color;
    color: rgb(68, 43, 43);
    font-weight: 600;
}

.button:hover {
    box-shadow: $box-shadow-hover;
}