@use '../base' as *;


.title {

    line-height: 3.2rem;
}
  
  

.subtitle {
    color: $secondary-heading-color;
    
    display: none;
}

@media (min-width: $first-breakpoint) {
    
    .subtitle {
        display: block;
    }
}