@import '../base';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

}
    


.modal {
    background-color: $background-color;

    border-width: 2px;
    border-style: solid;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 100vh;
    
}

.modal.normal {
    border-color: $button-color;
}

.modal.warning {
    border-color: $attention-color;
}


.header {
    width: 100%;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

    &.normal{
        background-color: $button-color;
        color: $background-color;
    }

    &.warning {
        background-color: $attention-color;
        color: lighten(black, 25%);
    }
}

.body {
    width: 100%;
    padding: 3px;
    border-bottom: 2px solid $separator-color;

    // scroll the modal content if it's too long while the body is fixed
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;


}

.footer {
    width: 100%;
    padding: 3px;
}

@media (min-width: $first-breakpoint) {
    .modal {
        width: 80%;
        max-width: 600px;

        border-radius: $border-radius;

        overflow: hidden;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);

        max-height: 90vh;

    }

    .header {
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
    .body,
    .footer {
        padding: 10px;
        
    }

    
}