@use "../base" as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: 1300px;
  min-width: 270px;
  margin: auto;
}

.header {
  margin-bottom: 10px;
}

.main {
  margin-bottom: 10px;
}

@media (min-width: $second-breakpoint) {
  .page {
    padding: 20px;

    border-radius: $border-radius;

    box-shadow: $box-shadow;

    width: 97%;

    margin: 40px auto;

    background-color: $background-color;
  }
}
