@use '../base' as *;

.page {
    display: flex;
    flex-direction: column;
    width: 100%;

    max-width: 1300px;
    margin: 0 auto;

    padding: 25px;

    border-radius: $border-radius;

    box-shadow: $box-shadow;
}

.header {
    margin-bottom: 45px;
}

.footer {
    margin-top: 45px;
}