@use '../base' as *;



$table-padding: 10px;
$table-cell-padding: 10px;

.table {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  color: $heading-color;
  font-weight: bold;
  padding: $table-padding;
  .cell {
    flex: 1;
    padding: $table-cell-padding;
  }
}

.body {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    flex-direction: row;
    padding: $table-padding;
    .cell {
      flex: 1;
      padding: $table-cell-padding;
    }
  }
}

.footer {
    display: flex;
    flex-direction: row;
    color: $heading-color;
    font-weight: bold;
    padding: $table-padding;
    justify-content: flex-end; 
    color: $button-color;
    font-size: 1.2rem;

    border-top: 2px solid $separator-color;
    .cell {
        flex: 1;
        padding: $table-cell-padding;
    }
}
