@use '../base' as *;

.ul {

    display: grid;
    
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 1rem;

    padding: 0 20px;
}


.ul.detailed {
    grid-template-columns: 1fr;

    grid-gap: 2.3rem;

}


.li {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

@media (min-width: $first-breakpoint) {
    .ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .ul.detailed {
        grid-template-columns: 1fr 1fr;
        padding: 0 40px; 
    }
}

@media (min-width: $second-breakpoint) {
    
    .ul.detailed {
        grid-template-columns: repeat(4, 1fr);

        padding: 0 60px; 

    }
}