@use '../base' as *;

.wrapper {
    border: 2px solid $separator-color;
    border-radius: $border-radius;

    padding: 10px;
    
}

.title {
    transform: translateY(-30px);
    background-color: $secondary-background-color;
    display: inline-block;

    padding: 0 10px;

    border-radius: $border-radius;
}

.mainProduct {
    height: 200px;
    transform: translateY(-20px);

}

.otherProducts {
    .title {
        transform: none;
        background-color: transparent;
        padding: 0;
    }
}