@use '../base' as *;

.ul {

    color: $navigation-color;
    gap: 30px;
}

.li {
    margin-right: .5rem;   

    border-radius: $border-radius;

    
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: adjust-color($color: $navigation-color, $lightness: 15%);
        color: $background-color;
    }

}

.li.current {
    background-color: $navigation-color;
    color: $background-color;
}

.link {
    padding: .5rem;

    transition: .2s ease-in-out;


   

    &:active {
        transform: scale(.95);
        
    }
}

.hamburgerMenu {
    display: block;
}

.linksList {
    display: none;
}

@media (min-width: $first-breakpoint) {
    .hamburgerMenu {
        display: none;
    }

    .linksList {
        display: block;
    }
}

@media (min-width: $second-breakpoint) {
    .ul {
        gap: 10px;
    }
}
