@use '../base' as *;

.wrapper {
    display: flex;
    flex-flow: column;

    gap: 5px;

    background-color: $secondary-background-color;
    padding: 10px;
    border-radius: $border-radius;

}

.title {
    border-bottom: 1px solid $separator-color;
    padding-bottom: 5px;
}

.cell {
    &:first-child {
        font-weight: bold;
        font-size: .8rem;

        text-align: left;
    }
}

