@use "../base" as *;

.wrapper {
  display: grid;
  grid-template-rows: 50px auto;
  gap: 5px;

  height: 100%;

  background-color: $secondary-background-color;
  padding: 10px;
  border-radius: $border-radius;
}

.title {
  border-bottom: 1px solid $separator-color;
  padding-bottom: 5px;
}

.cell {
  &:first-child {
    font-weight: bold;
    font-size: 0.8rem;

    text-align: left;
  }
}
