@use '../base' as *;

.li.list {
    border-bottom: 1px solid $separator-color;
    padding-bottom: 5px;
    margin-bottom: 5px;

    &:first-child {
        margin-top: 5px;
    }

    &:hover {
        border-bottom: 1px solid $attention-color;
        color: $attention-color;
    }
}

