.wrapper {
    display: flex;
    flex-direction: column;

    gap: 10px;

    width: 70%;
    margin: 0 auto;

}

.field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.select {
    padding: 2px 10px;
}